* {
	margin: 0;
	padding: 0;
}
/* SFProText 300 */
@font-face {
	font-family: "SFProText-Light";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Light.ttf") format("truetype");
	font-style: normal;
}
/* SFProText 400 */
@font-face {
	font-family: "SFProText-Regular";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Regular.ttf") format("truetype");
	font-style: normal;
}
/* SFProText 600 */
@font-face {
	font-family: "SFProText-Semibold";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Semibold.ttf") format("truetype");
	font-style: normal;
}
/* SFProText 700 */
@font-face {
	font-family: "SFProText-Bold";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Bold.ttf") format("truetype");
	font-style: normal;
}
/* OpenSans 400 */
@font-face {
	font-family: "OpenSans-Regular";
	src: url("../assets/Fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
}
/* Montserrat-Bold 700 */
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../assets/Fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-style: normal;
}
.nav {
	padding: 32px 20px 0 20px;
}
.container {
	margin: 0 auto;
	max-width: 1333px;
}
.nav__breadcrumb {
	display: flex;
	flex-wrap: wrap;
	font-family: SFProText-Regular;
	align-items: center;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	list-style-type: none;
}
.nav__breadcrumb-item {
	display: inline-block;
}
.nav__breadcrumb-item:not(:last-child)::after {
	content: "";
	width: 16px;
	height: 16px;
	background-image: url("../assets/Icons/Icons_Arrow_right_long.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 5px 2px 5px;
	display: inline-block;
	vertical-align: middle;
}
.nav__breadcrumb-item-link {
	text-decoration: none;
}
.nav__breadcrumb-item-link--dark {
	color: rgb(4, 42, 48);
}
.nav__breadcrumb-item-link--medium {
	color: rgb(105, 112, 113);
}
.nav__breadcrumb-item-link--light {
	color: rgb(163, 163, 163);
}
.product {
	padding: 0 20px 252px 20px;
}
.product__grid-container {
	display: grid;
	grid-template: auto / 652px 664px;
	gap: 0 44px;
}
.product__slider-wrapper {
	position: relative;
	margin-top: 48px;
}
.product__slider-pagination {
	position: absolute;
	z-index: 10;
	font-family: "OpenSans-Regular";
	font-size: 12px;
	top: 16px;
	left: 16px;
}
.product__btn-full-screen {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 16px;
	right: 16px;
	z-index: 10;
	border: none;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 1;
	transition: all 0.3s ease-in-out;
	background: rgb(242, 245, 245);
	border-radius: 8px;
	height: 44px;
	width: 44px;
}
.product__btn-full-screen-img {
	height: 16px;
	width: 16px;
}
.product__btn-full-screen:hover {
	opacity: 0.7;
}
.product__slider-window {
	overflow: hidden;
	width: 652px;
	height: 434px;
	border: 1px solid rgb(236, 242, 243);
	border-radius: 8px;
	box-sizing: border-box;
}
.product__slider-line {
	display: flex;
	position: relative;
	transition: all ease 1s;
}
.product__slider-item {
	position: absolute;
	color: rgb(105, 112, 113);
	font-family: SFProText-Regular;
	font-size: 10px;
	line-height: 100%;
	left: 16px;
	bottom: 16px;
}
.product__slider-button-wrapper {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 96px;
	bottom: 30px;
	right: 30px;
}
.product__slider-button-prev-img,
.product__info-pallets-prev-img,
.product__info-bed-prev-img {
	height: 14px;
}
.product__slider-button-next-img,
.product__info-pallets-next-img,
.product__info-bed-next-img {
	height: 14px;
}
.product__slider-button-prev,
.product__slider-button-next,
.product__info-pallets-prev,
.product__info-pallets-next,
.product__info-bed-prev,
.product__info-bed-next {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(242, 245, 245);
	width: 44px;
	height: 44px;
	border: none;
	cursor: pointer;
	opacity: 1;
	border-radius: 8px;
}
.product__slider-button-prev:hover,
.product__slider-button-next:hover,
.product__info-pallets-prev:hover,
.product__info-pallets-next:hover,
.product__info-bed-prev:hover,
.product__info-bed-next:hover {
	opacity: 0.7;
}
.product__preview {
	position: relative;
}
.product__preview-container {
	overflow: visible;
	max-width: 116px;
	margin: 16px 0 0 38px;
}
.product__preview-window {
	overflow: hidden;
	width: 583px;
}
.product__preview-slider-line {
	display: flex;
	flex-wrap: wrap;
}
.product__preview-slide {
	width: 116px;
	flex-shrink: 0;
	cursor: pointer;
}
.product__preview-img {
	display: block;
	height: 72px;
	margin: 0 auto;
}
.product__slider-button-prev--left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 72px;
}
.product__slider-button-next--right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 72px;
}
.product__info-details {
	margin-top: 40px;
	width: 304px;
	height: 420px;
	margin-left: 44px;
	padding-top: 24px;
	padding-left: 20px;
	border-radius: 8px;
	background: rgb(242, 245, 245);
}
.product__info-wrapper {
	display: flex;
}
.product__info-specifications {
	position: relative;
}
.product__info-title {
	font-family: "Montserrat-Bold";
	color: rgb(4, 42, 48);
	font-size: 40px;
	margin-top: 48px;
	line-height: 0;
	margin-bottom: 20px;
}
.product__info-title-for-mobile {
	display: none;
	font-family: "Montserrat-Bold";
	color: rgb(4, 42, 48);
	font-size: 40px;
	margin-top: 48px;
	line-height: 0;
	margin-bottom: 20px;
}
.product__info-box {
	margin-top: 40px;
	position: relative;
	display: inline-block;
}
.product__info-item {
	display: inline-block;
	position: relative;
	color: rgb(41, 46, 47);
	font-family: "SFProText-Semibold";
	font-size: 14px;
}
.product__info-roller-text {
	position: absolute;
	font-family: "SFProText-Light";
	width: 160px;
	height: 85px;
	padding: 16px;
	left: 98px;
	top: -152px;
	font-size: 11px;
	color: rgb(41, 46, 47);
	line-height: 14px;
	z-index: 10;
	letter-spacing: 0.5px;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.product__info-roller-text--centered-relative {
	left: 212px;
}
.product__info-item-icon {
	position: absolute;
	background-image: url(../assets/Icons/Vector-circle.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	right: -30px;
	top: 0px;
	z-index: 100;
	cursor: pointer;
}
.product__info-item-icon:hover + .product__info-roller-text {
	opacity: 1;
	visibility: visible;
	z-index: 100;
}
.product__info-item-icon--static {
	position: static;
}
.product__info-item-icon--static .product__info-belt-container {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 11px;
	flex-wrap: wrap;
	width: 287px;
	height: 80px;
}
.product__info-belt-container {
	display: flex;
	margin-top: 10px;
	flex-wrap: wrap;
	width: 287px;
	height: 80px;
	justify-content: space-between;
	align-content: space-between;
}
.product__info-belt-width {
	padding: 11px 14px 11px 14px;
	width: 48px;
	height: 34px;
	border: none;
	border-radius: 8px;
	font-family: "SFProText-Bold";
	font-size: 14px;
	cursor: pointer;
	background: rgb(224, 236, 240);
	transition: 0.3s all ease-in-out;
}
.product__info-belt-width:hover {
	background: rgb(63, 180, 215);
}
.product__info-custom-btn {
	font-family: "SFProText-Bold";
	font-size: 14px;
	width: 108px;
	height: 34px;
	padding: 11px 16px 11px 16px;
	color: rgb(41, 46, 47);
	text-transform: uppercase;
	background: rgb(224, 236, 240);
	line-height: 0;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition:
		background 0.3s,
		color 0.3s;
}
.product__info-custom-btn:hover {
	background: rgb(63, 180, 215);
}
.product__info-belt-width--active {
	background: rgb(20, 107, 135);
	color: rgb(255, 255, 255);
	line-height: 0;
}
.product__info-pallets-wrapper {
	margin-top: 12px;
	width: 168px;
	align-items: center;
	justify-content: space-between;
}
.product__info-pallets-wrapper--hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.product__info-pallets-wrapper--visible {
	display: flex;
	opacity: 1;
	visibility: visible;
}
.product__info-pallets-slider,
.product__info-bed-slider {
	width: 64px;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid rgb(214, 220, 221);
	border-radius: 8px;
	background: rgb(242, 245, 245);
}
.product__info-pallets-slider-line {
	display: flex;
	background: white;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
.product__info-pallets-slide,
.product__info-bed-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: "OpenSans-Regular";
	color: rgb(66, 72, 73);
	background-color: rgb(242, 245, 245);
}
.product__info-pallets-prev--left {
	display: block;
}
.product__info-pallets-next--right {
	display: block;
}
.product__info-box-second {
	margin-top: 28px;
}
.product__info-bed-wrapper {
	display: flex;
	margin-top: 9px;
	width: 178px;
	align-items: center;
	justify-content: space-between;
}
.product__info-bed-slider {
	width: 74px;
}
.product__info-bed-slider-line {
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
.product__info-options-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style-type: none;
	width: 316px;
	height: 188px;
	padding: 12px 0;
	margin-top: 32px;
}
.product__info-options-box {
	position: relative;
	background: rgb(224, 236, 240);
	display: flex;
	justify-content: space-between;
	padding: 12px 12px;
	align-items: center;
	border-radius: 8px;
}
.product__info-options-checkbox {
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 4px;
	background: rgb(255, 255, 255);
	margin-right: 8px;
	border-color: rgb(66, 72, 73);
}
/* Hide original checkbox */
.product__info-options-checkbox input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
/* Styling a custom checkbox*/
.product__info-options-checkbox::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	margin-right: 10px;
	vertical-align: middle;
	transition: all 0.3s ease-in-out;
}
/* Styling a checkbox on hover */
.product__info-options-checkbox:hover::before {
	border-color: rgb(40, 162, 202);
}
/* Styling a checkbox when it is checked */
.product__info-options-checkbox input[type="checkbox"]:checked + .checkbox-label::before {
	content: "\2713";
	display: inline-block;
	text-align: center;
	line-height: 20px;
	color: white;
	background: rgb(20, 107, 135);
	position: absolute;
	margin-top: 0.5px;
	margin-left: 1.5px;
	width: 21px;
	height: 21px;
	top: 1px;
	border-radius: 4px;
	border-color: rgb(20, 107, 135);
	font-family: "SFProText-Light";
	font-size: 18px;
}
.product__info-options-checkbox:hover + .product__info-options-item {
	color: rgb(40, 162, 202);
}
.product__info-options-item {
	line-height: 0px;
	text-align: left;
	width: 246px;
	font-size: 14px;
	font-family: "SFProText-Semibold";
	color: rgb(41, 46, 47);
	transition: all 0.3s;
}
/* Styling the text when the checkbox is checked */
.product__info-options-checkbox input[type="checkbox"]:checked + .checkbox-label + .product__info-options-item {
	color: rgb(20, 107, 135);
}
/* .product__info-details-block-one {
	padding: 0 0 0 20px;
} */
.product__info-details-labeling {
	color: rgb(165, 177, 179);
	font-family: "SFProText-Semibold";
	font-size: 12px;
}
.product__info-details-labeling span {
	color: rgb(4, 42, 48);
}
.product__info-details-group {
	margin-top: 12px;
}
.product__info-details-upon-btn {
	padding: 0 12px 3px 26.13px;
	border-radius: 8px;
	background: rgb(4, 42, 48);
	width: 125px;
	height: 32px;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.product__info-details-upon-btn:hover {
	opacity: 0.8;
}
.product__info-details-upon-btn-name::before {
	top: 1px;
}
.product__info-details-upon-btn-name {
	position: relative;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 10px;
	font-family: "Montserrat-Bold";
}
.product__info-details-upon-btn-name::before {
	content: "";
	position: absolute;
	background-image: url(../assets/Icons/Icons-Check.png);
	height: 12px;
	width: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	left: -15px;
	z-index: 1000;
}
.product__info-details-box {
	display: flex;
	width: 264px;
	height: 32px;
	margin-top: 12px;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px 0 12px;
	border-radius: 4px;
	background: rgb(242, 213, 206);
}
.product__info-box-third {
	display: none;
}
.product__info-select-options {
	display: none;
	margin-top: 5px;
	margin-bottom: -11px;
	width: 320px;
	justify-content: space-between;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	background: rgb(242, 245, 245);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	border-radius: 8px;
	border: 1px solid transparent;
	height: 44px;
	width: 316px;
}
.product__info-select-options:hover {
	border-color: rgb(20, 107, 135);
}
.product__info-select-options:hover .product__info-select-options-item {
	color: rgb(20, 107, 135);
}
.product__info-select-options-item {
	color: rgb(66, 72, 73);
	font-size: 14px;
	font-family: "SFProText-Regular";
	transition: all 0.1s ease-in-out;
}
.product__info-select-options:active {
	background-color: rgb(214, 220, 221);
}
.product__info-select-options:active .product__info-select-options-item {
	color: white;
}
.product__info-select-options-btn {
	background-image: url(../assets/Icons/bottom-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 10.5px;
	height: 5.25px;
	border: none;
	cursor: pointer;
}
.product__info-details-stars {
	display: flex;
	align-items: center;
	width: 122px;
	justify-content: space-between;
}
.product__info-details-star {
	height: 15px;
	width: 14.52px;
}
.product__info-details-numbers {
	color: rgb(241, 88, 43);
	font-family: "SFProText-Bold";
}
.product__info-details-btn-read {
	width: 62px;
	height: 14px;
	border: none;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.product__info-details-btn-read:hover {
	opacity: 0.7;
}
.product__info-details-btn-read span {
	position: relative;
	display: flex;
	align-items: center;
	line-height: 0;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "Montserrat-Bold";
	/* background-color: rgba(255, 255, 255, 0); */
}
.product__info-details-btn-read span::after {
	content: "";
	position: absolute;
	background-image: url(../assets/Icons/shevron-two.png);
	width: 5.25px;
	height: 10.5px;
	background-size: contain;
	background-repeat: no-repeat;
	right: 1px;
	z-index: 100;
}
.product__info-details-lines {
	margin-top: 31.5px;
	height: 2px;
	width: 100%;
	background-color: rgb(214, 220, 221);
}
.product__info-details-price {
	margin-top: 31.5px;
	display: flex;
	width: 165px;
	justify-content: space-between;
	align-items: flex-end;
	font-family: "SFProText-Bold";
}
.product__info-details-price {
	color: rgb(105, 112, 113);
	font-size: 10px;
	text-transform: uppercase;
}
.product__info-details-price-usd {
	font-size: 24px;
	color: rgb(20, 107, 135);
}
.product__info-details-price-ea {
	color: rgb(20, 107, 135);
	font-size: 10px;
}
.product__info-details-price-snowflake {
	font-size: 24px;
	color: rgb(20, 107, 135);
}
.product__info-details-quantity-goods {
	display: flex;
	margin-top: 24px;
	justify-content: space-between;
	width: 264px;
	height: 44px;
}
.product__info-details-quantity-window {
	width: 144px;
	height: 44px;
}
.product__info-details-quantity-window {
	box-sizing: border-box;
	border: 1px solid rgb(214, 220, 221);
	border-radius: 8px;
}
.product__info-details-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "SFProText-Regular";
	color: rgb(66, 72, 73);
}
.product__info-details-btn-subtract,
.product__info-details-btn-add {
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
.product__info-details-btn-subtract {
	background-color: rgb(205, 211, 211);
	padding-bottom: 8px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.product__info-details-btn-add {
	background-color: white;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.product__info-details-btn-subtract:hover,
.product__info-details-btn-add:hover {
	opacity: 0.9;
}
.product__info-details-img-min {
	width: 15px;
}
.product__info-details-img-plus {
	width: 15px;
	height: 15px;
}
.product__info-details-main-request {
	width: 264px;
	height: 44px;
	font-size: 14px;
}
.product__info-details-main-request {
	background-color: rgb(241, 88, 43);
	padding: 14px 40px 14px 64px;
	border-radius: 8px;
	border: none;
	margin-top: 24px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.product__info-details-main-request:hover {
	background-color: rgb(205, 56, 12);
}
.product__info-details-main-request:active {
	background: rgb(169, 47, 11);
}
.product__info-details-main-request span {
	font-family: "Montserrat-Bold";
	font-size: 14px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	position: relative;
}
.product__info-details-main-request span::before {
	content: "";
	position: absolute;
	background-image: url(../assets/Icons/flag-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 12.8px;
	height: 16px;
	left: -24px;
}
.product__info-details-consultation-specialist,
.product__info-details-consultation-specialist-doubler {
	position: relative;
	margin-top: 24px;
	font-family: "SFProText-Regular";
	width: 264px;
	padding: 0px;
	font-size: 12px;
	line-height: 14.5px;
	color: rgb(105, 112, 113);
}
.product__info-details-consultation-specialist span {
	position: absolute;
	left: -6px;
	font-size: 12px;
}
.product__info-details-consultation-specialist-doubler {
	display: none;
}

@media screen and (max-width: 1354px) {
	.product {
		padding: 0 20px 184px 20px;
	}
	.product__grid-container {
		grid-template: auto auto / 1fr;
		gap: 0;
		margin: 0 auto;
	}
	.container {
		max-width: 704px;
	}
	.product__info-title {
		display: none;
	}
	.product__info-title-for-mobile {
		display: block;
		margin-top: 32px;
		line-height: 0;
	}
	.product__slider-button-next--right {
		left: 628px;
	}
	.product__slider-wrapper {
		margin-top: 24px;
	}
	.product__info-wrapper {
		justify-content: center;
	}
}
@media screen and (max-width: 711px) {
	.product {
		padding: 0 20px 164px 20px;
  }
	.product__info-specifications {
		width: 335px;
	}
	.product__slider-pagination {
		display: none;
	}
	.product__slider-wrapper {
		height: 393px;
	}
	.product__slider-button-wrapper {
		bottom: 56px;
	}
	.product__btn-full-screen {
		display: none;
	}
	.product__slider-window {
		width: 586px;
		margin: 0 auto;
	}
	.product__slider-slide {
		width: 100%;
		height: 400px;
	}
	.product__preview-container {
		overflow: visible;
		max-width: 116px;
		margin: 16px auto 0 5%;
	}
	.product__preview-window {
		width: 434px;
	}
	.product__slider-item {
		bottom: 57px;
		width: 155px;
	}
	.product__info-details {
		height: 344px;
	}
	.product__info-title-for-mobile {
		font-size: 32px;
		line-height: 32px;
	}
	.product__info-belt-container {
		width: 262px;
		height: 108px;
	}
	.product__info-belt-width {
		width: 44px;
		height: 46px;
		padding: 11px 9px 11px 11px;
	}
	.product__info-wrapper {
		flex-wrap: wrap;
	}
	.product__info-details {
		width: 335px;
		margin-left: 0;
		padding-left: 0;
		padding-top: 0;
	}
	.product__info-details-group {
		display: flex;
		width: 320px;
		height: 32px;
		justify-content: space-between;
	}
	.product__info-details-upon-btn {
		padding: 0;
		padding-left: 12px;
		width: 125px;
		height: 32px;
		border-radius: 4px;
	}
	.product__info-bed-wrapper {
		width: 320px;
	}
	.product__preview-window {
		width: 552px;
	}
	.product__slider-button-prev--left {
		display: none;
	}
	.product__slider-button-next--right {
		display: none;
	}
	.product__info-custom-btn {
		width: 104px;
		height: 46px;
	}
	.product__info-bed-slider {
		width: 192px;
		background: rgb(242, 245, 245);
	}
	.product__info-bed-slider div {
		background: rgb(242, 245, 245);
	}
	.product__info-bed-slide {
		background: rgb(242, 245, 245);
	}
	.product__info-details-box {
		box-sizing: border-box;
		width: 183px;
		margin-top: 0;
	}
	.product__info-details-consultation-specialist {
		display: none;
	}
	.product__info-details-consultation-specialist-doubler {
		display: block;
		margin-top: 8px;
	}
	.product__info-details-consultation-specialist-doubler span {
		position: absolute;
		left: -6px;
		font-size: 12px;
	}
	.product__info-details-quantity-goods {
		width: 320px;
	}
	.product__info-details-btn-read {
		width: 15px;
	}
	.product__info-details-btn-read {
		color: transparent;
	}
	.product__info-details-main-request {
		width: 320px;
	}
	.product__info-box-third {
		display: block;
		width: 125px;
		margin-top: 32px;
	}
	.product__info-roller-text-center {
		left: 53px;
	}
	.product__info-select-options {
		display: flex;
	}
	.product__info-options-wrapper {
		display: none;
	}
	.product__info-options-wrapper-visibly {
		display: flex;
	}
}
@media screen and (max-width: 660px) {
	.product__preview-container {
		margin: 16px auto 0 3%;
	}
}
@media screen and (max-width: 630px) {
	.product__slider-wrapper {
		height: 366px;
	}
	.product__slider-button-wrapper {
		display: none;
	}
	.product__slider-button-prev--left {
		display: none;
	}
	.product__slider-button-next--right {
		display: none;
	}
	.product__slider-window {
		width: 540px;
	}
	.product__slider-item {
		bottom: 25px;
	}
	.product__info-details-block-one {
		padding: 0;
	}
	.product__preview-container {
		margin: 16px auto 0 0%;
	}
	.product__preview-window {
		width: 511px;
	}
}
@media screen and (max-width: 580px) {
	.product__slider-wrapper {
		height: 337px;
	}
	.product__slider-window {
		width: 500px;
	}
	.product__preview-container {
		overflow: visible;
		max-width: 116px;
		margin: 16px auto 0 7%;
	}
	.product__preview-window {
		width: 470px;
	}
}
@media screen and (max-width: 560px) {
	.product__slider-wrapper {
		height: 336px;
	}
	.product__preview-window {
		width: 450px;
	}
	.product__preview-img {
		height: 54px;
	}
	.product__preview-container {
		overflow: visible;
		max-width: 90px;
		margin: 16px auto 0 5%;
	}
}
@media screen and (max-width: 540px) {
	.product__slider-wrapper {
		height: 296px;
	}
	.product__slider-window {
		width: 440px;
	}
	.product__preview-window {
		width: 405px;
	}
}
@media screen and (max-width: 480px) {
	.product__slider-wrapper {
		height: 207px;
	}
	.product__preview-container {
		overflow: visible;
		max-width: 90px;
		margin: 16px auto 0 7%;
	}
	.product__slider-window {
		width: 320px;
	}
	.product__preview-container {
		margin: 16px auto 0 0;
	}
	.product__preview-window {
		width: 404px;
	}
	.product__preview-img {
		height: 54px;
	}
}
@media screen and (max-width: 436px) {
	.nav {
		padding: 34px 20px 0 20px;
	}
	.product__info-details-line {
		width: 80px;
	}
	.product__preview-window {
		width: 352px;
	}
	.product__preview-container {
		margin: 16px auto 0 0;
	}
	.product__slider-item {
		left: -3px;
	}
	.product__info-specifications {
		width: auto;
	}
	.product__info-details {
		width: auto;
	}
	.product__preview-img {
		height: 48px;
	}
	.product__preview-container {
		max-width: 78px;
	}
}
@media screen and (max-width: 380px) {
	.product__preview {
		height: 74px;
	}
	.product__preview-window {
		width: 339px;
	}
	.product__preview-container {
		position: absolute;
	}
	.product__info-box {
		margin-top: 27px;
	}
}
@media screen and (max-width: 359px) {
	.product__preview-window {
		width: 314px;
	}
}
