* {
	margin: 0;
	padding: 0;
}
/* SFProText 300 */
@font-face {
	font-family: "SFProText-Light";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Light.ttf") format("truetype");
	font-style: normal;
}
/* SFProText 400 */
@font-face {
	font-family: "SFProText-Regular";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Regular.ttf") format("truetype");
	font-style: normal;
}
/* SFProText 600 */
@font-face {
	font-family: "SFProText-Semibold";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Semibold.ttf") format("truetype");
	font-style: normal;
}
/* SFProText 700 */
@font-face {
	font-family: "SFProText-Bold";
	src: url("../assets/Fonts/SanFranciscoProText/SFProText-Bold.ttf") format("truetype");
	font-style: normal;
}
/* OpenSans 400 */
@font-face {
	font-family: "OpenSans-Regular";
	src: url("../assets/Fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
}
/* Montserrat-Bold 700 */
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../assets/Fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-style: normal;
}

.container {
	margin: 0 auto;
	max-width: 1333px;
}
.product-page {
	padding: 32px 0 252px 0;
}
.nav__breadcrumb {
	display: flex;
	font-family: SFProText-Regular;
	align-items: center;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	list-style-type: none;
}
.nav__breadcrumb-item {
	display: inline-block;
}
.nav__breadcrumb-item:not(:last-child)::after {
	content: "";
	width: 16px;
	height: 16px;
	background-image: url("../assets/Icons/Icons_Arrow_right_long.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 5px 2px 5px;
	display: inline-block;
	vertical-align: middle;
}
.nav__breadcrumb-item-link {
	text-decoration: none;
}
.nav__breadcrumb-item-link--dark {
	color: rgb(4, 42, 48);
}
.nav__breadcrumb-item-link--medium {
	color: rgb(105, 112, 113);
}
.nav__breadcrumb-item-link--light {
	color: rgb(163, 163, 163);
}
.product__grid-container {
	display: grid;
	grid-template-columns: 652px 664px;
	gap: 0 44px;
}
.product__slider-wrapper {
	position: relative;
	margin-top: 48px;
}
.product__slider-pagination {
	position: absolute;
	z-index: 10;
	font-family: "OpenSans-Regular";
	font-size: 12;
	top: 16px;
	left: 16px;
}
.product__btn-full-screen {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 10;
	background-image: url(../assets/Icons/full-screen.png);
	height: 16px;
	width: 16px;
	border: none;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
.product__slider-window {
	overflow: hidden;
	width: 652px;
	height: 434px;
}
.product__slider-line {
	display: flex;
	position: relative;
	transition: all ease 1s;
}
.product__slider-item {
	position: absolute;
	color: rgb(105, 112, 113);
	font-family: SFProText-Regular;
	font-size: 10px;
	line-height: 100%;
	left: 16px;
	bottom: 16px;
}
.product__slider-button-wrapper {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 72px;
	bottom: 30px;
	right: 30px;
}
.product__slider-button-prev,
.product__info-pallets-prev,
.product__info-bed-prev {
	background-image: url(../assets/Icons/Icons-chevron-left.png);
}
.product__slider-button-next,
.product__info-pallets-next,
.product__info-bed-next {
	background-image: url(../assets/Icons/Icons-chevron-right.png);
}
.product__slider-button-prev,
.product__slider-button-next,
.product__info-pallets-prev,
.product__info-pallets-next,
.product__info-bed-prev,
.product__info-bed-next {
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	border: none;
	cursor: pointer;
}
.product__preview {
	position: relative;
}
.product__preview-container {
	overflow: visible;
	max-width: 116px;
	margin: 16px 0 0 40px;
}
.product__preview-window {
	overflow: hidden;
	width: 583px;
}
.product__preview-slider-line {
	display: flex;
	flex-wrap: wrap;
}
.product__preview-slide {
	width: 116px;
	flex-shrink: 0;
	cursor: pointer;
}
.product__preview-img {
	display: block;

	height: 72px;
	margin: 0 auto;
}
.product__slider-button-prev--left {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}
.product__slider-button-next--right {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}
.product__info-specifications {
	position: relative;
}
.product__info-title {
	font-family: "Montserrat-Bold";
	color: rgb(4, 42, 48);
	font-size: 40px;
	margin-top: 48px;
}
.product__info-box {
	margin-top: 43px;
	position: relative;
	display: inline-block;
}
.product__info-item {
	display: inline-block;
	position: relative;
	color: rgb(41, 46, 47);
	font-family: "SFProText-Semibold";
	font-size: 14px;
}
.product__info-roller-text {
	position: absolute;
	font-family: "SFProText-Light";
	width: 160px;
	height: 85px;
	padding: 16px;
	left: 98px;
	top: -152px;
	font-size: 11px;
	color: rgb(41, 46, 47);
	line-height: 14px;
	z-index: 10;
	letter-spacing: 0.5px;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.product__info-item-icon {
	position: absolute;
	background-image: url(../assets/Icons/Vector-circle.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	right: -30px;
	top: 0px;
	z-index: 100;
	cursor: pointer;
}
.product__info-item-icon:hover + .product__info-roller-text {
	opacity: 1;
	visibility: visible;
}

.product__info-belt-container {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 11px;
	flex-wrap: wrap;
	width: 287px;
	height: 80px;
}
.product__info-belt-width {
	padding: 11px 14px 11px 14px;
	width: 48px;
	height: 34px;
	border: none;
	border-radius: 8px;
	font-family: "SFProText-Bold";
	font-size: 14px;
	cursor: pointer;
	background: rgb(214, 225, 229);
	transition: 0.3s all ease-in-out;
}
.product__info-belt-width--linear-gradient {
	background: linear-gradient(to right, rgb(214, 225, 229) 50%, transparent 50%);
}
.product__info-custom-btn {
	font-family: "SFProText-Bold";
	font-size: 14px;
	width: 108px;
	height: 34px;
	padding: 11px 16px 11px 16px;
	color: rgb(41, 46, 47);
	text-transform: uppercase;
	background: linear-gradient(
		to right,
		rgb(214, 225, 229) 20px,
		white 20px,
		white calc(90% - 45px),
		rgb(214, 225, 229) calc(91% - 45px)
	);
	line-height: 0;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition:
		background 0.3s,
		color 0.3s;
}
.product__info-belt-width--active {
	background: rgb(20, 107, 135);
	color: rgb(255, 255, 255);
	line-height: 0;
}
.product__info-pallets-wrapper {
	margin-top: 12px;
	width: 168px;
	align-items: center;
	justify-content: space-between;
}
.product__info-pallets-wrapper--hidden {
	display: none;
}
.product__info-pallets-wrapper--visible {
	display: flex;
}
.product__info-pallets-slider,
.product__info-bed-slider {
	max-width: 64px;
	overflow: hidden;
	border-top: 1px solid rgb(205, 211, 211);
	border-bottom: 1px solid rgb(205, 211, 211);
	border-left: 2px solid rgb(205, 211, 211);
	border-right: 2px solid rgb(214, 220, 221);
	border-radius: 8px;
}
.product__info-pallets-slider-line {
	display: flex;
	background: white;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
.product__info-pallets-slide,
.product__info-bed-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: "OpenSans-Regular";
	color: rgb(66, 72, 73);
}
.product__info-pallets-prev--left {
	display: block;
}
.product__info-pallets-next--right {
	display: block;
}
.product__info-box-second {
	margin-top: 28px;
}
.product__info-bed-wrapper {
	display: flex;
	margin-top: 9px;
	width: 178px;
	align-items: center;
	justify-content: space-between;
}
.product__info-bed-slider {
	max-width: 74px;
}
.product__info-bed-slider-line {
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
